[user]
    # These values are set in ~/.gitconfig_local
    
[include]
    path = ~/.gitconfig_local

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    line-numbers = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only
    
[url "git@github.com:"]
	insteadOf = https://github.com/

[pull]
	rebase = true
	ff = only
